<!DOCTYPE html>
<html>
<head>
	<title>Postage Result</title>
</head>
<body>
	<h1>This is your postage details:</h1>
	<p><strong>Weight of postage:</strong> <%= weight %> oz</p>
	<p><strong>Type of postage:</strong> <%= type %></p>
	<p><strong>Price of postage: $</strong> <%= pCalculated %></p>



</body>
</html>

